*{
font-family: Poppins, sans-serif;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1e; /* scrollbar rayı */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2e2e30; /* scrollbar çubuğu */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #58589c; /* hover rengi */
}


.server-item.active::before {
  height: 2rem;
  width: 0.25rem;
  visibility: visible;
}